{% extends 'base.html.twig' %}

{% block menu%}{% endblock %}

{% block body %}

    {% if error %}
        <div class="alert alert-danger">
            {{ error.messageKey }}
        </div>
    {% endif %}

    <form action="{{ path('security_login') }}" method="post">
        <fieldset>
            <legend> Connexion</legend>
            <div>
                <label for="username">Username</label>
                <input type="text" id="username" name="_username" value="{{ last_username }}"/>
            </div>
            <div>
                <label for="password">Mot de passe</label>
                <input type="password" id="password" name="_password"/>
            </div>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
            <button type="submit">Se connecter</button>
        </fieldset>
    </form>

    <a href="{{ path('index') }}">Retour à l'accueil</a><br>
    <a href="{{ path('user_registration') }}">Inscription</a>

{% endblock %}