{% extends 'base.html.twig' %}

{% block menu%}{% endblock %}

{% block nav_admin %}{% endblock %}

{% block body %}


    <div class="body">
        <div class="nav">
            <div class="img-logo">

                <a href="{{ path('index') }}"><img class="logo" src="{{ asset('assets/img/accueil-1/logo.png') }}" alt=""></a>
            </div>
            <ul>

                <li>
                    <a href="{{ path('index') }}" class="hover-underline-animation">Accueil</a>
                </li>
                <li>
                    <a href="{{ path('user_registration') }}" class="hover-underline-animation">Inscription</a>
                </li>
                <li>
                    <a href="{{ path('security_login') }}" class="hover-underline-animation">Connexion</a>
                </li>
            </ul>
        </div>
        <div class="formulaire">

            <div class="container-fluid justify-content-center">
                <div class="col-8">
                    <div class=" contenu-form">
                        <div class="haut">

                            <h1>Récupération de compte</h1>
                        </div>
                        <div class="bas ">
                            <form method="post" action="{{ path('reset_mdp') }}">

                                <div class="element-form">
                                    <div class="col-4"> <label for="pseudo">Votre email :</label></div>
                                    <div class="col-6"><input type="text" id="email" name="email"/></div>
                                </div>
                                <div class="element-form">

                                        <div class="envoyer">
                                            <input type="submit" value="Envoyez moi un mail" /><br>
                                        </div>
                                    </div>



                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>



    </div>


{% endblock %}