{% extends 'base.html.twig' %}

{% block title %}
    Administrateur
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
{% endblock %}

{% block menu %}{% endblock %}

{% block body %}
    <div class="navbar">
        <a href="{{  path('profil_admin') }}"><p>{{ app.user.username }}</p></a>
        <ul>
            <li><a href="{{  path('admin_classement') }}">Classement</a></li>
            <li><a href="{{  path('admin_joueurs') }}">Liste des joueurs</a></li>
            <li><a href="{{  path('admin_parties') }}">Liste des parties</a></li>
            <li><a href="{{  path('inactif') }}">Déconnexion</a></li>
        </ul>
        <div class="bas_nav">
            {% set nbjoueurs = 0 %}
            {% for joueur in joueursco %}
                {% set nbjoueurs = ( nbjoueurs | default(0) ) + 1 %}
            {% endfor %}

            <p>Nombre de joueurs connectés: {{ nbjoueurs |last }}</p>
        </div>
    </div>
    <div class="corps">

        <div class="tableau">
        <table>

            <thead>
            <tr>
                <th>Pseudo</th>
                <th>Mail</th>
                <th>Victoire</th>
                <th>Défaites</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for joueur in joueurs %}
                <tr>
                    <td>{{ joueur.username }}</td>
                    <td>{{ joueur.email }}</td>
                    <td>{{ joueur.PartiesVictoires }}</td>
                    <td>{{ joueur.PartiesDefaites }}</td>
                    <form action="{{ path ('supprimer_joueur') }}" method="post">
                        <td><button type="submit" name="joueur" value="{{ joueur.Id }}">Supprimer</button></td>
                    </form>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>


    </div>
{% endblock %}
