{% extends 'base.html.twig' %}

{% block title %}
    Administrateur
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
{% endblock %}

{% block menu %}{% endblock %}

{% block body %}
    <div class="corps">

        <table>

            <thead>
            <tr>
                <th>Pseudo</th>
                <th>Mail</th>
                <th>Victoire</th>
                <th>Défaites</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for joueur in joueurs %}
                <tr>
                    <td>{{ joueur.username }}</td>
                    <td>{{ joueur.email }}</td>
                    <td>{{ joueur.PartiesVictoires }}</td>
                    <td>{{ joueur.PartiesDefaites }}</td>
                    <form action="">
                        <td><button type="submit" name="joueur" value="{{ joueur.Id }}">Supprimer</button></td>
                    </form>
                </tr>
            {% endfor %}
            </tbody>
        </table>


    </div>
{% endblock %}
