{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
{% endblock %}

{% block menu %}{% endblock %}

{% block body %}
    <div class="navbar">
        <a href="{{  path('profil_admin') }}"><p>{{ app.user.username }}</p></a>
        <ul>
            <li><a href="{{  path('admin_classement') }}">Classement</a></li>
            <li><a href="{{  path('admin_joueurs') }}">Liste des joueurs</a></li>
            <li><a href="{{  path('admin_parties') }}">Liste des parties</a></li>
            <li><a href="{{  path('inactif') }}">Déconnexion</a></li>
        </ul>
        <div class="bas_nav">
            {% set nbjoueurs = 0 %}
            {% for joueur in joueursco %}
                {% set nbjoueurs = ( nbjoueurs | default(0) ) + 1 %}
            {% endfor %}

            <p>Nombre de joueurs connectés: {{ nbjoueurs |last }}</p>
        </div>
    </div>

    <div class="corps">

        <div class="formulaire-profil">
            <div class="container-fluid justify-content-center">
                <div class="col-8">
                    <div class="contenu-form" >
                        <div class="bas-profil">
                            <form method="post" action="{{ path('update_username') }}">

                                <div class="element-form">
                                    <div class="col-4"> <label for="username">Changer de pseudo :</label></div>
                                    <div class="col-5"><input type="text" value="{{ app.user.username }}" name="username" placeholder="Nouveau Pseudo"></div>


                                    <div class=" col-3 envoyer">
                                        <input type="submit" value="Changer">                                    </div>
                                </div>




                            </form>
                            <form method="post" action="{{ path('update_email') }}">

                                <div class="element-form">
                                    <div class="col-4"> <label for="email">Changer d'email :</label></div>
                                    <div class="col-5"><input type="email" value="{{ app.user.email }}" name="email" placeholder="Nouvel email"></div>


                                    <div class="col-3 envoyer">
                                        <input type="submit" value="Changer">                                    </div>
                                </div>




                            </form>
                            <form method="post" action="{{ path('update_password') }}">

                                <div class="element-form">
                                    <div class="col-4"> <label for="username">Changer de mot de passe :</label></div>
                                    <div class="col-5"><input type="password" name="premier" placeholder="Entrer nouveau mot de passe"><input type="password" name="deuxieme" placeholder="Répéter mot de passe"></div>

                                    <div class=" col-3 envoyer">
                                        <input type="submit" value="Changer">                                    </div>
                                </div>




                            </form>

                        </div>

                    </div>
                </div>
            </div>
        </div>


    </div>
{% endblock %}