<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {# Bloc du title du site #}
    <title>{% block title %}Cosmos{% endblock %}</title>

    <!-- Fichiers CSS communs-->
    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">

    {# Bloc des fichiers css du site #}
    {% block stylesheets %}{% endblock %}
</head>
<body>

{# Bloc du menu du site #}
{% block menu %}
<nav class="navbar navbar-default">
    <ul class="nav navbar-nav">
        <li><a href="{{ path('nouvelle_partie') }}">Créer une partie !</a></li>
        <li><a href="{{ path('rejoindre_partie') }}">Rejoindre une partie !</a></li>
        <li><a href="{{ path('continuer_partie') }}">Continuer une partie !</a></li>
        <li><a href="{{ path('classement') }}">Classement</a></li>
        <li><a href="{{ path('user') }}">{{ app.user.username }}</a></li>
        <li><a href="{{ path('inactif') }}">Déconnexion</a></li>
    </ul>
</nav>
{% endblock %}

{# Bloc de la nav du site jeu #}
{% block nav_admin %}{% endblock %}

{# Bloc de la nav user du site jeu #}
{% block nav_user %}{% endblock %}


{# Bloc du contenu principal du site #}
{% block body %}{% endblock %}


{# Bloc du contenu chat du site #}
{% block chat %}{% endblock %}

{# Bloc du footer du site #}
{% block footer %}{% endblock %}

<!-- Fichiers JS communs-->
<script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="{{ asset('assets/js/boostrap.js') }}"></script>
<script src="{{ asset('assets/js/nmp.js') }}"></script>

{# Bloc des fichiers javascript du site #}
{% block javascripts %}{% endblock %}

</body>
</html>
