{% extends 'base.html.twig' %}

{% block title %}
    Partie en cours
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap-grid.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/screen.css') }}">
{% endblock %}

{% block menu %}{% endblock %}

{% block body %}
<div class="plateau" id="plateau">
    <div class="container-v backgroud_plateau">

        <div class="backgroud_plateau_fond">

            <div class="manche">
                <p>Manche {{ partie.PartieManche }} </p>
            </div>

            {#CALCUL SCORE OBJECTIFS#}
            {% set marqueurCounterJ1=0 %}
            {% for marqueur in partie.Jetons %}
                {% if marqueur==0 %}
                {% elseif marqueur==1 %}
                    {% set marqueurCounterJ1 = ( marqueurCounterJ1 | default(0) ) + 1 %}
                {% elseif marqueur==2 %}
                {% endif %}
            {% endfor %}
            {% set ObjectifJ1 = marqueurCounterJ1|last %}

            {% set marqueurCounterJ2=0 %}
            {% for marqueur in partie.Jetons %}
                {% if marqueur==0 %}
                {% elseif marqueur==1 %}
                {% elseif marqueur==2 %}
                    {% set marqueurCounterJ2 = ( marqueurCounterJ2 | default(0) ) + 1 %}
                {% endif %}
            {% endfor %}
            {% set ObjectifJ2 = marqueurCounterJ2|last %}

            {#INFORMATIONS ADVERSAIRE#}
            <div class="joueur2">
                {% if app.user.Id == partie.Joueur1.Id%}
                    <p>{{ partie.Joueur2.Username }}</p>
                {% else %}
                    <p>{{ partie.Joueur1.Username }}</p>
                {% endif %}
            </div>
            <div class="scorej2">
                {% if app.user.Id == partie.Joueur1.Id%}
                    <p>Score : {{ partie.ScoreJ2 }}</p>
                    <p>Objectifs : {{ marqueurCounterJ2 |last }}</p>
                {% else %}
                    <p>Score : {{ partie.ScoreJ1 }}</p>
                    <p>Objectifs : {{ marqueurCounterJ1 |last }}</p>
                {% endif %}
            </div>

            {#MES INFORMATIONS#}
            <div class="joueur1">
                {% if app.user.Id == partie.Joueur1.Id%}
                    <p>{{ partie.Joueur1.Username }}</p>
                {% else %}
                    <p>{{ partie.Joueur2.Username }}</p>
                {% endif %}
            </div>
            <div class="scorej1">
                {% if app.user.Id == partie.Joueur1.Id%}
                    <p>Score : {{ partie.ScoreJ1 }}</p>
                    <p>Objectifs : {{ marqueurCounterJ1 |last }}</p>
                {% else %}
                    <p>Score : {{ partie.ScoreJ2 }}</p>
                    <p>Objectifs : {{ marqueurCounterJ2 |last }}</p>
                {% endif %}
            </div>

            {#ACTIONS ADVERSAIRE#}
            {% if app.user.id == partie.Joueur2.Id %}
                {% for action in partie.ActionJ1 %}
                    {% set counter = ( counter | default(0) ) + 1 %}
                    {% if counter == 1 %}
                        {% if action==0 %}
                            <img class="img3" src="{{ asset('assets/img/action1.png') }}">
                        {% elseif action==1 %}
                            <img class="img3" src="{{ asset('assets/img/action1_fini.png') }}">
                        {% endif %}
                    {% elseif counter == 2 %}
                        {% if action==0 %}
                            <img class="img4" src="{{ asset('assets/img/action2.png') }}">
                        {% elseif action==1 %}
                            <img class="img4" src="{{ asset('assets/img/action2_fini.png') }}">
                        {% endif %}
                    {% elseif counter == 3 %}
                        {% if action==0 %}
                            <img class="img5" src="{{ asset('assets/img/action3.png') }}">
                        {% elseif action==1 %}
                            <img class="img5" src="{{ asset('assets/img/action3_fini.png') }}">
                        {% endif %}
                    {% elseif counter == 4 %}
                        {% if action==0%}
                            <img class="img6" src="{{ asset('assets/img/action4.png') }}">
                        {% elseif action==1 %}
                            <img class="img6" src="{{ asset('assets/img/action4_fini.png') }}">
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% elseif app.user.id == partie.Joueur1.Id %}
                {% for action in partie.ActionJ2 %}
                    {% set counter = ( counter | default(0) ) + 1 %}
                    {% if counter == 1 %}
                        {% if action==0 %}
                            <img class="img3" src="{{ asset('assets/img/action1.png') }}">
                        {% elseif action==1 %}
                            <img class="img3" src="{{ asset('assets/img/action1_fini.png') }}">
                        {% endif %}
                    {% elseif counter == 2 %}
                        {% if action==0 %}
                            <img class="img4" src="{{ asset('assets/img/action2.png') }}">
                        {% elseif action==1 %}
                            <img class="img4" src="{{ asset('assets/img/action2_fini.png') }}">
                        {% endif %}
                    {% elseif counter == 3 %}
                        {% if action==0 %}
                            <img class="img5" src="{{ asset('assets/img/action3.png') }}">
                        {% elseif action==1 %}
                            <img class="img5" src="{{ asset('assets/img/action3_fini.png') }}">
                        {% endif %}
                    {% elseif counter == 4 %}
                        {% if action==0%}
                            <img class="img6" src="{{ asset('assets/img/action4.png') }}">
                        {% elseif action==1 %}
                            <img class="img6" src="{{ asset('assets/img/action4_fini.png') }}">
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% endif %}

            {#CARTES ADVERSAIRE#}
            <div class="cartes_adversaire">
                {% if app.user.id == partie.Joueur1.Id %}
                    {% for carte in partie.MainJ2 |sort %}
                        {% set counter = ( counter | default(0) ) + 1 %}
                        {% if counter == 1 %}
                            <img class="nb1" src="{{ asset('assets/img/carte_dos.png') }}">
                        {% elseif counter == 2 %}
                            <img class="nb2" src="{{ asset('assets/img/carte_dos.png') }}">
                        {% elseif counter == 3 %}
                            <img class="nb3" src="{{ asset('assets/img/carte_dos.png') }}">
                        {% elseif counter == 4 %}
                            <img class="nb4" src="{{ asset('assets/img/carte_dos.png') }}">
                        {% elseif counter == 5 %}
                            <img class="nb5" src="{{ asset('assets/img/carte_dos.png') }}">
                        {% elseif counter == 6 %}
                            <img class="nb6" src="{{ asset('assets/img/carte_dos.png') }}">
                        {% elseif counter == 7 %}
                            <img class="nb7" src="{{ asset('assets/img/carte_dos.png') }}">
                        {% endif %}
                    {% endfor %}
                {% elseif app.user.id == partie.Joueur2.Id %}
                    {% for carte in partie.MainJ1 |sort %}
                        {% set counter = ( counter | default(0) ) + 1 %}
                        {% if counter == 1 %}
                            <img class="nb1" src="{{ asset('assets/img/carte_dos.png') }}">
                        {% elseif counter == 2 %}
                            <img class="nb2" src="{{ asset('assets/img/carte_dos.png') }}">
                        {% elseif counter == 3 %}
                            <img class="nb3" src="{{ asset('assets/img/carte_dos.png') }}">
                        {% elseif counter == 4 %}
                            <img class="nb4" src="{{ asset('assets/img/carte_dos.png') }}">
                        {% elseif counter == 5 %}
                            <img class="nb5" src="{{ asset('assets/img/carte_dos.png') }}">
                        {% elseif counter == 6 %}
                            <img class="nb6" src="{{ asset('assets/img/carte_dos.png') }}">
                        {% elseif counter == 7 %}
                            <img class="nb7" src="{{ asset('assets/img/carte_dos.png') }}">
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>

            {#Carte de pioche#}
            <img class="img24" src="{{ asset('assets/img/plateau/dos_carte.png')}}">

            {#TERRAIN ADVERSAIRE#}
            {% if app.user.id == partie.Joueur1.Id %}
                {% for cadeaux in partie.TerrainJ2 %}
                    {% set counter = ( counter | default(0) ) + 1 %}

                    {% if counter == 1 %}
                        <div class="terrain1">
                            {% if cadeaux==0 %}

                            {% elseif cadeaux==1 %}
                                <img  src="{{ asset('assets/img/rhum.png') }}">
                            {% elseif cadeaux==2 %}
                                <img  src="{{ asset('assets/img/rhum.png') }}">
                                <img  src="{{ asset('assets/img/rhum.png') }}">
                            {% endif %}
                        </div>
                    {% endif %}

                    {% if counter == 2 %}
                        <div class="terrain2">
                            {% if cadeaux==0 %}

                            {% elseif cadeaux==1 %}
                                <img  src="{{ asset('assets/img/bijoux.png') }}">
                            {% elseif cadeaux==2 %}
                                <img  src="{{ asset('assets/img/bijoux.png') }}">
                                <img  src="{{ asset('assets/img/bijoux.png') }}">
                            {% endif %}
                        </div>
                    {% endif %}

                    {% if counter == 3 %}
                        <div class="terrain3">
                            {% if cadeaux==0 %}

                            {% elseif cadeaux==1 %}
                                <img  src="{{ asset('assets/img/revolver.png') }}">
                            {% elseif cadeaux==2 %}
                                <img  src="{{ asset('assets/img/revolver.png') }}">
                                <img  src="{{ asset('assets/img/revolver.png') }}">
                            {% endif %}
                        </div>
                    {% endif %}

                    {% if counter == 4 %}
                        <div class="terrain4">
                            {% if cadeaux==0 %}

                            {% elseif cadeaux==1 %}
                                <img  src="{{ asset('assets/img/hache.png') }}">
                            {% elseif cadeaux==2 %}
                                <img  src="{{ asset('assets/img/hache.png') }}">
                                <img  src="{{ asset('assets/img/hache.png') }}">
                            {% elseif cadeaux==3 %}
                                <img  src="{{ asset('assets/img/hache.png') }}">
                                <img  src="{{ asset('assets/img/hache.png') }}">
                                <img  src="{{ asset('assets/img/hache.png') }}">
                            {% endif %}
                        </div>
                    {% endif %}

                    {% if counter == 5 %}
                        <div class="terrain5">
                            {% if cadeaux==0 %}

                            {% elseif cadeaux==1 %}
                                <img  src="{{ asset('assets/img/processeur.png') }}">
                            {% elseif cadeaux==2 %}
                                <img  src="{{ asset('assets/img/processeur.png') }}">
                                <img  src="{{ asset('assets/img/processeur.png') }}">
                            {% elseif cadeaux==3 %}
                                <img  src="{{ asset('assets/img/processeur.png') }}">
                                <img  src="{{ asset('assets/img/processeur.png') }}">
                                <img  src="{{ asset('assets/img/processeur.png') }}">
                            {% endif %}
                        </div>
                    {% endif %}

                    {% if counter == 6 %}
                        <div class="terrain6">
                            {% if cadeaux==0 %}

                            {% elseif cadeaux==1 %}
                                <img  src="{{ asset('assets/img/hallebarde.png') }}">
                            {% elseif cadeaux==2 %}
                                <img  src="{{ asset('assets/img/hallebarde.png') }}">
                                <img  src="{{ asset('assets/img/hallebarde.png') }}">
                            {% elseif cadeaux==3 %}
                                <img  src="{{ asset('assets/img/hallebarde.png') }}">
                                <img  src="{{ asset('assets/img/hallebarde.png') }}">
                                <img  src="{{ asset('assets/img/hallebarde.png') }}">
                            {% elseif cadeaux==4 %}
                                <img  src="{{ asset('assets/img/hallebarde.png') }}">
                                <img  src="{{ asset('assets/img/hallebarde.png') }}">
                                <img  src="{{ asset('assets/img/hallebarde.png') }}">
                                <img  src="{{ asset('assets/img/hallebarde.png') }}">
                            {% endif %}
                        </div>
                    {% endif %}

                    {% if counter == 7 %}
                        <div class="terrain7">
                            {% if cadeaux==0 %}

                            {% elseif cadeaux==1 %}
                                <img  src="{{ asset('assets/img/pouvoir.png') }}">
                            {% elseif cadeaux==2 %}
                                <img  src="{{ asset('assets/img/pouvoir.png') }}">
                                <img  src="{{ asset('assets/img/pouvoir.png') }}">
                            {% elseif cadeaux==3 %}
                                <img  src="{{ asset('assets/img/pouvoir.png') }}">
                                <img  src="{{ asset('assets/img/pouvoir.png') }}">
                                <img  src="{{ asset('assets/img/pouvoir.png') }}">
                            {% elseif cadeaux==4 %}
                                <img  src="{{ asset('assets/img/pouvoir.png') }}">
                                <img  src="{{ asset('assets/img/pouvoir.png') }}">
                                <img  src="{{ asset('assets/img/pouvoir.png') }}">
                                <img  src="{{ asset('assets/img/pouvoir.png') }}">
                            {% elseif cadeaux==5 %}
                                <img  src="{{ asset('assets/img/pouvoir.png') }}">
                                <img  src="{{ asset('assets/img/pouvoir.png') }}">
                                <img  src="{{ asset('assets/img/pouvoir.png') }}">
                                <img  src="{{ asset('assets/img/pouvoir.png') }}">
                                <img  src="{{ asset('assets/img/pouvoir.png') }}">
                            {% endif %}
                        </div>
                    {% endif %}

                {% endfor %}
            {% elseif app.user.id == partie.Joueur2.Id %}
                {% for cadeaux in partie.TerrainJ1 %}
                    {% set counter = ( counter | default(0) ) + 1 %}

                    {% if counter == 1 %}
                        <div class="terrain1">
                            {% if cadeaux==0 %}

                            {% elseif cadeaux==1 %}
                                <img  src="{{ asset('assets/img/rhum.png') }}">
                            {% elseif cadeaux==2 %}
                                <img  src="{{ asset('assets/img/rhum.png') }}">
                                <img  src="{{ asset('assets/img/rhum.png') }}">
                            {% endif %}
                        </div>
                    {% endif %}

                    {% if counter == 2 %}
                        <div class="terrain2">
                            {% if cadeaux==0 %}

                            {% elseif cadeaux==1 %}
                                <img  src="{{ asset('assets/img/bijoux.png') }}">
                            {% elseif cadeaux==2 %}
                                <img  src="{{ asset('assets/img/bijoux.png') }}">
                                <img  src="{{ asset('assets/img/bijoux.png') }}">
                            {% endif %}
                        </div>
                    {% endif %}

                    {% if counter == 3 %}
                        <div class="terrain3">
                            {% if cadeaux==0 %}

                            {% elseif cadeaux==1 %}
                                <img  src="{{ asset('assets/img/revolver.png') }}">
                            {% elseif cadeaux==2 %}
                                <img  src="{{ asset('assets/img/revolver.png') }}">
                                <img  src="{{ asset('assets/img/revolver.png') }}">
                            {% endif %}
                        </div>
                    {% endif %}

                    {% if counter == 4 %}
                        <div class="terrain4">
                            {% if cadeaux==0 %}

                            {% elseif cadeaux==1 %}
                                <img  src="{{ asset('assets/img/hache.png') }}">
                            {% elseif cadeaux==2 %}
                                <img  src="{{ asset('assets/img/hache.png') }}">
                                <img  src="{{ asset('assets/img/hache.png') }}">
                            {% elseif cadeaux==3 %}
                                <img  src="{{ asset('assets/img/hache.png') }}">
                                <img  src="{{ asset('assets/img/hache.png') }}">
                                <img  src="{{ asset('assets/img/hache.png') }}">
                            {% endif %}
                        </div>
                    {% endif %}

                    {% if counter == 5 %}
                        <div class="terrain5">
                            {% if cadeaux==0 %}

                            {% elseif cadeaux==1 %}
                                <img  src="{{ asset('assets/img/processeur.png') }}">
                            {% elseif cadeaux==2 %}
                                <img  src="{{ asset('assets/img/processeur.png') }}">
                                <img  src="{{ asset('assets/img/processeur.png') }}">
                            {% elseif cadeaux==3 %}
                                <img  src="{{ asset('assets/img/processeur.png') }}">
                                <img  src="{{ asset('assets/img/processeur.png') }}">
                                <img  src="{{ asset('assets/img/processeur.png') }}">
                            {% endif %}
                        </div>
                    {% endif %}

                    {% if counter == 6 %}
                        <div class="terrain6">
                            {% if cadeaux==0 %}

                            {% elseif cadeaux==1 %}
                                <img  src="{{ asset('assets/img/hallebarde.png') }}">
                            {% elseif cadeaux==2 %}
                                <img  src="{{ asset('assets/img/hallebarde.png') }}">
                                <img  src="{{ asset('assets/img/hallebarde.png') }}">
                            {% elseif cadeaux==3 %}
                                <img  src="{{ asset('assets/img/hallebarde.png') }}">
                                <img  src="{{ asset('assets/img/hallebarde.png') }}">
                                <img  src="{{ asset('assets/img/hallebarde.png') }}">
                            {% elseif cadeaux==4 %}
                                <img  src="{{ asset('assets/img/hallebarde.png') }}">
                                <img  src="{{ asset('assets/img/hallebarde.png') }}">
                                <img  src="{{ asset('assets/img/hallebarde.png') }}">
                                <img  src="{{ asset('assets/img/hallebarde.png') }}">
                            {% endif %}
                        </div>
                    {% endif %}

                    {% if counter == 7 %}
                        <div class="terrain7">
                            {% if cadeaux==0 %}

                            {% elseif cadeaux==1 %}
                                <img  src="{{ asset('assets/img/pouvoir.png') }}">
                            {% elseif cadeaux==2 %}
                                <img  src="{{ asset('assets/img/pouvoir.png') }}">
                                <img  src="{{ asset('assets/img/pouvoir.png') }}">
                            {% elseif cadeaux==3 %}
                                <img  src="{{ asset('assets/img/pouvoir.png') }}">
                                <img  src="{{ asset('assets/img/pouvoir.png') }}">
                                <img  src="{{ asset('assets/img/pouvoir.png') }}">
                            {% elseif cadeaux==4 %}
                                <img  src="{{ asset('assets/img/pouvoir.png') }}">
                                <img  src="{{ asset('assets/img/pouvoir.png') }}">
                                <img  src="{{ asset('assets/img/pouvoir.png') }}">
                                <img  src="{{ asset('assets/img/pouvoir.png') }}">
                            {% elseif cadeaux==5 %}
                                <img  src="{{ asset('assets/img/pouvoir.png') }}">
                                <img  src="{{ asset('assets/img/pouvoir.png') }}">
                                <img  src="{{ asset('assets/img/pouvoir.png') }}">
                                <img  src="{{ asset('assets/img/pouvoir.png') }}">
                                <img  src="{{ asset('assets/img/pouvoir.png') }}">
                            {% endif %}
                        </div>
                    {% endif %}

                {% endfor %}
            {% endif %}

            {#CARTES OBJECTIFS#}
            {% for objectif in objectifs %}
                {% set counter = ( counter | default(0) ) + 1 %}
                {% if counter==1 %}
                    <img class="img10" src="{{ asset('assets/img/' ~ objectif.ObjectifImg) }}">
                {% elseif counter==2%}
                    <img class="img11" src="{{ asset('assets/img/' ~ objectif.ObjectifImg) }}">
                {% elseif counter==3%}
                    <img class="img12" src="{{ asset('assets/img/' ~ objectif.ObjectifImg) }}">
                {% elseif counter==4%}
                    <img class="img13" src="{{ asset('assets/img/' ~ objectif.ObjectifImg) }}">
                {% elseif counter==5%}
                    <img class="img14" src="{{ asset('assets/img/' ~ objectif.ObjectifImg) }}">
                {% elseif counter==6%}
                    <img class="img15" src="{{ asset('assets/img/' ~ objectif.ObjectifImg) }}">
                {% elseif counter==7%}
                    <img class="img16" src="{{ asset('assets/img/' ~ objectif.ObjectifImg) }}">
                {% endif %}
            {% endfor %}

            {#Pions#}
            {% for marqueur in partie.Jetons %}
                {% if app.user.id == partie.Joueur1.Id %}
                    {% set marqueurCounter = ( marqueurCounter | default(0) ) + 1 %}
                    {% set counter = ( counter | default(0) ) + 1 %}
                    {% if counter==1 %}
                        {% if marqueur==0 %}
                            <img class="pion1" src="{{ asset('assets/img/pion.png') }}">
                        {% elseif marqueur==1 %}
                            <img class="pion1_bas" src="{{ asset('assets/img/pion.png') }}">
                        {% elseif marqueur==2 %}
                            <img class="pion1_haut" src="{{ asset('assets/img/pion.png') }}">
                        {% endif %}
                    {% elseif counter==2%}
                        {% if marqueur==0 %}
                            <img class="pion2" src="{{ asset('assets/img/pion.png') }}">
                        {% elseif marqueur==1 %}
                            <img class="pion2_bas" src="{{ asset('assets/img/pion.png') }}">
                        {% elseif marqueur==2 %}
                            <img class="pion2_haut" src="{{ asset('assets/img/pion.png') }}">
                        {% endif %}
                    {% elseif counter==3%}
                        {% if marqueur==0 %}
                            <img class="pion3" src="{{ asset('assets/img/pion.png') }}">
                        {% elseif marqueur==1 %}
                            <img class="pion3_bas" src="{{ asset('assets/img/pion.png') }}">
                        {% elseif marqueur==2 %}
                            <img class="pion3_haut" src="{{ asset('assets/img/pion.png') }}">
                        {% endif %}
                    {% elseif counter==4%}
                        {% if marqueur==0 %}
                            <img class="pion4" src="{{ asset('assets/img/pion.png') }}">
                        {% elseif marqueur==1 %}
                            <img class="pion4_bas" src="{{ asset('assets/img/pion.png') }}">
                        {% elseif marqueur==2 %}
                            <img class="pion4_haut" src="{{ asset('assets/img/pion.png') }}">
                        {% endif %}
                    {% elseif counter==5%}
                        {% if marqueur==0 %}
                            <img class="pion5" src="{{ asset('assets/img/pion.png') }}">
                        {% elseif marqueur==1 %}
                            <img class="pion5_bas" src="{{ asset('assets/img/pion.png') }}">
                        {% elseif marqueur==2 %}
                            <img class="pion5_haut" src="{{ asset('assets/img/pion.png') }}">
                        {% endif %}
                    {% elseif counter==6%}
                        {% if marqueur==0 %}
                            <img class="pion6" src="{{ asset('assets/img/pion.png') }}">
                        {% elseif marqueur==1 %}
                            <img class="pion6_bas" src="{{ asset('assets/img/pion.png') }}">
                        {% elseif marqueur==2 %}
                            <img class="pion6_haut" src="{{ asset('assets/img/pion.png') }}">
                        {% endif %}
                    {% elseif counter==7%}
                        {% if marqueur==0 %}
                            <img class="pion7" src="{{ asset('assets/img/pion.png') }}">
                        {% elseif marqueur==1 %}
                            <img class="pion7_bas" src="{{ asset('assets/img/pion.png') }}">
                        {% elseif marqueur==2 %}
                            <img class="pion7_haut" src="{{ asset('assets/img/pion.png') }}">
                        {% endif %}
                    {% endif %}
                {% elseif app.user.id == partie.Joueur2.Id %}
                    {% set marqueurCounter = ( marqueurCounter | default(0) ) + 1 %}
                    {% set counter = ( counter | default(0) ) + 1 %}
                    {% if counter==1 %}
                        {% if marqueur==0 %}
                            <img class="pion1" src="{{ asset('assets/img/pion.png') }}">
                        {% elseif marqueur==1 %}
                            <img class="pion1_haut" src="{{ asset('assets/img/pion.png') }}">
                        {% elseif marqueur==2 %}
                            <img class="pion1_bas" src="{{ asset('assets/img/pion.png') }}">
                        {% endif %}
                    {% elseif counter==2%}
                        {% if marqueur==0 %}
                            <img class="pion2" src="{{ asset('assets/img/pion.png') }}">
                        {% elseif marqueur==1 %}
                            <img class="pion2_haut" src="{{ asset('assets/img/pion.png') }}">
                        {% elseif marqueur==2 %}
                            <img class="pion2_bas" src="{{ asset('assets/img/pion.png') }}">
                        {% endif %}
                    {% elseif counter==3%}
                        {% if marqueur==0 %}
                            <img class="pion3" src="{{ asset('assets/img/pion.png') }}">
                        {% elseif marqueur==1 %}
                            <img class="pion3_haut" src="{{ asset('assets/img/pion.png') }}">
                        {% elseif marqueur==2 %}
                            <img class="pion3_bas" src="{{ asset('assets/img/pion.png') }}">
                        {% endif %}
                    {% elseif counter==4%}
                        {% if marqueur==0 %}
                            <img class="pion4" src="{{ asset('assets/img/pion.png') }}">
                        {% elseif marqueur==1 %}
                            <img class="pion4_haut" src="{{ asset('assets/img/pion.png') }}">
                        {% elseif marqueur==2 %}
                            <img class="pion4_bas" src="{{ asset('assets/img/pion.png') }}">
                        {% endif %}
                    {% elseif counter==5%}
                        {% if marqueur==0 %}
                            <img class="pion5" src="{{ asset('assets/img/pion.png') }}">
                        {% elseif marqueur==1 %}
                            <img class="pion5_haut" src="{{ asset('assets/img/pion.png') }}">
                        {% elseif marqueur==2 %}
                            <img class="pion5_bas" src="{{ asset('assets/img/pion.png') }}">
                        {% endif %}
                    {% elseif counter==6%}
                        {% if marqueur==0 %}
                            <img class="pion6" src="{{ asset('assets/img/pion.png') }}">
                        {% elseif marqueur==1 %}
                            <img class="pion6_haut" src="{{ asset('assets/img/pion.png') }}">
                        {% elseif marqueur==2 %}
                            <img class="pion6_bas" src="{{ asset('assets/img/pion.png') }}">
                        {% endif %}
                    {% elseif counter==7%}
                        {% if marqueur==0 %}
                            <img class="pion7" src="{{ asset('assets/img/pion.png') }}">
                        {% elseif marqueur==1 %}
                            <img class="pion7_haut" src="{{ asset('assets/img/pion.png') }}">
                        {% elseif marqueur==2 %}
                            <img class="pion7_bas" src="{{ asset('assets/img/pion.png') }}">
                        {% endif %}
                    {% endif %}
                {% endif %}

            {% endfor %}

            {#MON TERRAIN#}
            {% if app.user.id == partie.Joueur1.Id %}
                {% for cadeaux in partie.TerrainJ1 %}
                    {% set counter = ( counter | default(0) ) + 1 %}

                    {% if counter == 1 %}
                        <div class="terrainb1">
                            {% if cadeaux==0 %}

                            {% elseif cadeaux==1 %}
                                <img  src="{{ asset('assets/img/rhum.png') }}">
                            {% elseif cadeaux==2 %}
                                <img  src="{{ asset('assets/img/rhum.png') }}">
                                <img  src="{{ asset('assets/img/rhum.png') }}">
                            {% endif %}
                        </div>
                    {% endif %}

                    {% if counter == 2 %}
                        <div class="terrainb2">
                            {% if cadeaux==0 %}

                            {% elseif cadeaux==1 %}
                                <img  src="{{ asset('assets/img/bijoux.png') }}">
                            {% elseif cadeaux==2 %}
                                <img  src="{{ asset('assets/img/bijoux.png') }}">
                                <img  src="{{ asset('assets/img/bijoux.png') }}">
                            {% endif %}
                        </div>
                    {% endif %}

                    {% if counter == 3 %}
                        <div class="terrainb3">
                            {% if cadeaux==0 %}

                            {% elseif cadeaux==1 %}
                                <img  src="{{ asset('assets/img/revolver.png') }}">
                            {% elseif cadeaux==2 %}
                                <img  src="{{ asset('assets/img/revolver.png') }}">
                                <img  src="{{ asset('assets/img/revolver.png') }}">
                            {% endif %}
                        </div>
                    {% endif %}

                    {% if counter == 4 %}
                        <div class="terrainb4">
                            {% if cadeaux==0 %}

                            {% elseif cadeaux==1 %}
                                <img  src="{{ asset('assets/img/hache.png') }}">
                            {% elseif cadeaux==2 %}
                                <img  src="{{ asset('assets/img/hache.png') }}">
                                <img  src="{{ asset('assets/img/hache.png') }}">
                            {% elseif cadeaux==3 %}
                                <img  src="{{ asset('assets/img/hache.png') }}">
                                <img  src="{{ asset('assets/img/hache.png') }}">
                                <img  src="{{ asset('assets/img/hache.png') }}">
                            {% endif %}
                        </div>
                    {% endif %}

                    {% if counter == 5 %}
                        <div class="terrainb5">
                            {% if cadeaux==0 %}

                            {% elseif cadeaux==1 %}
                                <img  src="{{ asset('assets/img/processeur.png') }}">
                            {% elseif cadeaux==2 %}
                                <img  src="{{ asset('assets/img/processeur.png') }}">
                                <img  src="{{ asset('assets/img/processeur.png') }}">
                            {% elseif cadeaux==3 %}
                                <img  src="{{ asset('assets/img/processeur.png') }}">
                                <img  src="{{ asset('assets/img/processeur.png') }}">
                                <img  src="{{ asset('assets/img/processeur.png') }}">
                            {% endif %}
                        </div>
                    {% endif %}

                    {% if counter == 6 %}
                        <div class="terrainb6">
                            {% if cadeaux==0 %}

                            {% elseif cadeaux==1 %}
                                <img  src="{{ asset('assets/img/hallebarde.png') }}">
                            {% elseif cadeaux==2 %}
                                <img  src="{{ asset('assets/img/hallebarde.png') }}">
                                <img  src="{{ asset('assets/img/hallebarde.png') }}">
                            {% elseif cadeaux==3 %}
                                <img  src="{{ asset('assets/img/hallebarde.png') }}">
                                <img  src="{{ asset('assets/img/hallebarde.png') }}">
                                <img  src="{{ asset('assets/img/hallebarde.png') }}">
                            {% elseif cadeaux==4 %}
                                <img  src="{{ asset('assets/img/hallebarde.png') }}">
                                <img  src="{{ asset('assets/img/hallebarde.png') }}">
                                <img  src="{{ asset('assets/img/hallebarde.png') }}">
                                <img  src="{{ asset('assets/img/hallebarde.png') }}">
                            {% endif %}
                        </div>
                    {% endif %}

                    {% if counter == 7 %}
                        <div class="terrainb7">
                            {% if cadeaux==0 %}

                            {% elseif cadeaux==1 %}
                                <img  src="{{ asset('assets/img/pouvoir.png') }}">
                            {% elseif cadeaux==2 %}
                                <img  src="{{ asset('assets/img/pouvoir.png') }}">
                                <img  src="{{ asset('assets/img/pouvoir.png') }}">
                            {% elseif cadeaux==3 %}
                                <img  src="{{ asset('assets/img/pouvoir.png') }}">
                                <img  src="{{ asset('assets/img/pouvoir.png') }}">
                                <img  src="{{ asset('assets/img/pouvoir.png') }}">
                            {% elseif cadeaux==4 %}
                                <img  src="{{ asset('assets/img/pouvoir.png') }}">
                                <img  src="{{ asset('assets/img/pouvoir.png') }}">
                                <img  src="{{ asset('assets/img/pouvoir.png') }}">
                                <img  src="{{ asset('assets/img/pouvoir.png') }}">
                            {% elseif cadeaux==5 %}
                                <img  src="{{ asset('assets/img/pouvoir.png') }}">
                                <img  src="{{ asset('assets/img/pouvoir.png') }}">
                                <img  src="{{ asset('assets/img/pouvoir.png') }}">
                                <img  src="{{ asset('assets/img/pouvoir.png') }}">
                                <img  src="{{ asset('assets/img/pouvoir.png') }}">
                            {% endif %}
                        </div>
                    {% endif %}

                {% endfor %}
            {% elseif app.user.id == partie.Joueur2.Id %}
                {% for cadeaux in partie.TerrainJ2 %}
                    {% set counter = ( counter | default(0) ) + 1 %}

                    {% if counter == 1 %}
                        <div class="terrainb1">
                            {% if cadeaux==0 %}

                            {% elseif cadeaux==1 %}
                                <img  src="{{ asset('assets/img/rhum.png') }}">
                            {% elseif cadeaux==2 %}
                                <img  src="{{ asset('assets/img/rhum.png') }}">
                                <img  src="{{ asset('assets/img/rhum.png') }}">
                            {% endif %}
                        </div>
                    {% endif %}

                    {% if counter == 2 %}
                        <div class="terrainb2">
                            {% if cadeaux==0 %}

                            {% elseif cadeaux==1 %}
                                <img  src="{{ asset('assets/img/bijoux.png') }}">
                            {% elseif cadeaux==2 %}
                                <img  src="{{ asset('assets/img/bijoux.png') }}">
                                <img  src="{{ asset('assets/img/bijoux.png') }}">
                            {% endif %}
                        </div>
                    {% endif %}

                    {% if counter == 3 %}
                        <div class="terrainb3">
                            {% if cadeaux==0 %}

                            {% elseif cadeaux==1 %}
                                <img  src="{{ asset('assets/img/revolver.png') }}">
                            {% elseif cadeaux==2 %}
                                <img  src="{{ asset('assets/img/revolver.png') }}">
                                <img  src="{{ asset('assets/img/revolver.png') }}">
                            {% endif %}
                        </div>
                    {% endif %}

                    {% if counter == 4 %}
                        <div class="terrainb4">
                            {% if cadeaux==0 %}

                            {% elseif cadeaux==1 %}
                                <img  src="{{ asset('assets/img/hache.png') }}">
                            {% elseif cadeaux==2 %}
                                <img  src="{{ asset('assets/img/hache.png') }}">
                                <img  src="{{ asset('assets/img/hache.png') }}">
                            {% elseif cadeaux==3 %}
                                <img  src="{{ asset('assets/img/hache.png') }}">
                                <img  src="{{ asset('assets/img/hache.png') }}">
                                <img  src="{{ asset('assets/img/hache.png') }}">
                            {% endif %}
                        </div>
                    {% endif %}

                    {% if counter == 5 %}
                        <div class="terrainb5">
                            {% if cadeaux==0 %}

                            {% elseif cadeaux==1 %}
                                <img  src="{{ asset('assets/img/processeur.png') }}">
                            {% elseif cadeaux==2 %}
                                <img  src="{{ asset('assets/img/processeur.png') }}">
                                <img  src="{{ asset('assets/img/processeur.png') }}">
                            {% elseif cadeaux==3 %}
                                <img  src="{{ asset('assets/img/processeur.png') }}">
                                <img  src="{{ asset('assets/img/processeur.png') }}">
                                <img  src="{{ asset('assets/img/processeur.png') }}">
                            {% endif %}
                        </div>
                    {% endif %}

                    {% if counter == 6 %}
                        <div class="terrainb6">
                            {% if cadeaux==0 %}

                            {% elseif cadeaux==1 %}
                                <img  src="{{ asset('assets/img/hallebarde.png') }}">
                            {% elseif cadeaux==2 %}
                                <img  src="{{ asset('assets/img/hallebarde.png') }}">
                                <img  src="{{ asset('assets/img/hallebarde.png') }}">
                            {% elseif cadeaux==3 %}
                                <img  src="{{ asset('assets/img/hallebarde.png') }}">
                                <img  src="{{ asset('assets/img/hallebarde.png') }}">
                                <img  src="{{ asset('assets/img/hallebarde.png') }}">
                            {% elseif cadeaux==4 %}
                                <img  src="{{ asset('assets/img/hallebarde.png') }}">
                                <img  src="{{ asset('assets/img/hallebarde.png') }}">
                                <img  src="{{ asset('assets/img/hallebarde.png') }}">
                                <img  src="{{ asset('assets/img/hallebarde.png') }}">
                            {% endif %}
                        </div>
                    {% endif %}

                    {% if counter == 7 %}
                        <div class="terrainb7">
                            {% if cadeaux==0 %}

                            {% elseif cadeaux==1 %}
                                <img  src="{{ asset('assets/img/pouvoir.png') }}">
                            {% elseif cadeaux==2 %}
                                <img  src="{{ asset('assets/img/pouvoir.png') }}">
                                <img  src="{{ asset('assets/img/pouvoir.png') }}">
                            {% elseif cadeaux==3 %}
                                <img  src="{{ asset('assets/img/pouvoir.png') }}">
                                <img  src="{{ asset('assets/img/pouvoir.png') }}">
                                <img  src="{{ asset('assets/img/pouvoir.png') }}">
                            {% elseif cadeaux==4 %}
                                <img  src="{{ asset('assets/img/pouvoir.png') }}">
                                <img  src="{{ asset('assets/img/pouvoir.png') }}">
                                <img  src="{{ asset('assets/img/pouvoir.png') }}">
                                <img  src="{{ asset('assets/img/pouvoir.png') }}">
                            {% elseif cadeaux==5 %}
                                <img  src="{{ asset('assets/img/pouvoir.png') }}">
                                <img  src="{{ asset('assets/img/pouvoir.png') }}">
                                <img  src="{{ asset('assets/img/pouvoir.png') }}">
                                <img  src="{{ asset('assets/img/pouvoir.png') }}">
                                <img  src="{{ asset('assets/img/pouvoir.png') }}">
                            {% endif %}
                        </div>
                    {% endif %}

                {% endfor %}
            {% endif %}

            {#MES ACTIONS#}
            {% if app.user.id == partie.Joueur1.Id %}
                {% for action in partie.ActionJ1 %}
                    {% set counter = ( counter | default(0) ) + 1 %}
                    {% if counter == 1 %}
                        {% if action==0 %}
                            <img class="img22" id="action1" src="{{ asset('assets/img/action1.png') }}">
                        {% elseif action==1 %}
                            <img class="img22" id="action1" src="{{ asset('assets/img/action1_fini.png') }}">
                        {% endif %}
                    {% elseif counter == 2 %}
                        {% if action==0 %}
                            <img class="img21" id="action2" src="{{ asset('assets/img/action2.png') }}">
                        {% elseif action==1 %}
                            <img class="img21" id="action2" src="{{ asset('assets/img/action2_fini.png') }}">
                        {% endif %}
                    {% elseif counter == 3 %}
                        {% if action==0 %}
                            <img class="img20" id="action3" src="{{ asset('assets/img/action3.png') }}">
                        {% elseif action==1 %}
                            <img class="img20" id="action3" src="{{ asset('assets/img/action3_fini.png') }}">
                        {% endif %}
                    {% elseif counter == 4 %}
                        {% if action==0%}
                            <img class="img19" id="action4" src="{{ asset('assets/img/action4.png') }}">
                        {% elseif action==1 %}
                            <img class="img19" id="action4" src="{{ asset('assets/img/action4_fini.png') }}">
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% elseif app.user.id == partie.Joueur2.Id %}
                {% for action in partie.ActionJ2 %}
                    {% set counter = ( counter | default(0) ) + 1 %}
                    {% if counter == 1 %}
                        {% if action==0 %}
                            <img class="img22" id="action1" src="{{ asset('assets/img/action1.png') }}">
                        {% elseif action==1 %}
                            <img class="img22" id="action1" src="{{ asset('assets/img/action1_fini.png') }}">
                        {% endif %}
                    {% elseif counter == 2 %}
                        {% if action==0 %}
                            <img class="img21" id="action2" src="{{ asset('assets/img/action2.png') }}">
                        {% elseif action==1 %}
                            <img class="img21" id="action2" src="{{ asset('assets/img/action2_fini.png') }}">
                        {% endif %}
                    {% elseif counter == 3 %}
                        {% if action==0 %}
                            <img class="img20" id="action3" src="{{ asset('assets/img/action3.png') }}">
                        {% elseif action==1 %}
                            <img class="img20" id="action3" src="{{ asset('assets/img/action3_fini.png') }}">
                        {% endif %}
                    {% elseif counter == 4 %}
                        {% if action==0%}
                            <img class="img19" id="action4" src="{{ asset('assets/img/action4.png') }}">
                        {% elseif action==1 %}
                            <img class="img19" id="action4" src="{{ asset('assets/img/action4_fini.png') }}">
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% endif %}
            <div class="action1">
                <p>Secret</p>
            </div>
            <div class="action2">
                <p>Dissimulation</p>
            </div>
            <div class="action3">
                <p>Cadeau</p>
            </div>
            <div class="action4">
                <p>Concurrence</p>
            </div>


            <form method="post" action="{{ path('action4') }}">
                <div class="b4">
                    <div class="b4carte1">

                    </div>
                    <div class="b4carte2">

                    </div>
                    <div class="b4carte3">

                    </div>
                    <div class="b4carte4">

                    </div>
                    <h1>Attention selectionnez bien deux paires de cartes concurrence</h1>
                    <button class="bouton" id="annuler" name="id" value="{{ partie.Id }}" formaction="">Annuler</button>
                    <button class="bouton" id="valider" type="submit" name="id" value="{{ partie.Id }}">Valider</button>

                </div>




                <div class="objets">
                    {% if app.user.id == partie.Joueur1.Id %}
                        {% for carte in partie.MainJ1 |sort %}
                            {% set counter = ( counter | default(0) ) + 1 %}
                            {% if counter == 1 %}
                                <input class="carte1" type="checkbox" name="id_paire1[]" value="{{ Objets[carte].Id }}"><span class="carte1 span1">Paire 1</span>
                                <input class="carte1b" type="checkbox" name="id_paire2[]" value="{{ Objets[carte].Id }}"><span class="carte1b span2">Paire 2</span>
                                <img class="carte1" src="{{ asset('assets/img/' ~ Objets[carte].CarteImg) }}">
                            {% elseif counter == 2 %}
                                <input class="carte2" type="checkbox" name="id_paire1[]" value="{{ Objets[carte].Id }}"><span class="carte2 span1">Paire 1</span>
                                <input class="carte2b" type="checkbox" name="id_paire2[]" value="{{ Objets[carte].Id }}"><span class="carte2b span2">Paire 2</span>
                                <img class="carte2" src="{{ asset('assets/img/' ~ Objets[carte].CarteImg) }}">
                            {% elseif counter == 3 %}
                                <input class="carte3" type="checkbox" name="id_paire1[]" value="{{ Objets[carte].Id }}"><span class="carte3 span1">Paire 1</span>
                                <input class="carte3b" type="checkbox" name="id_paire2[]" value="{{ Objets[carte].Id }}"><span class="carte3b span2">Paire 2</span>
                                <img class="carte3" src="{{ asset('assets/img/' ~ Objets[carte].CarteImg) }}">
                            {% elseif counter == 4 %}
                                <input class="carte4" type="checkbox" name="id_paire1[]" value="{{ Objets[carte].Id }}"><span class="carte4 span1">Paire 1</span>
                                <input class="carte4b" type="checkbox" name="id_paire2[]" value="{{ Objets[carte].Id }}"><span class="carte4b span2">Paire 2</span>
                                <img class="carte4" src="{{ asset('assets/img/' ~ Objets[carte].CarteImg) }}">
                            {% elseif counter == 5 %}
                                <input class="carte5" type="checkbox" name="id_paire1[]" value="{{ Objets[carte].Id }}"><span class="carte5 span1">Paire 1</span>
                                <input class="carte5b" type="checkbox" name="id_paire2[]" value="{{ Objets[carte].Id }}"><span class="carte5b span2">Paire 2</span>
                                <img class="carte5" src="{{ asset('assets/img/' ~ Objets[carte].CarteImg) }}">
                            {% elseif counter == 6 %}
                                <input class="carte6" type="checkbox" name="id_paire1[]" value="{{ Objets[carte].Id }}"><span class="carte6 span1">Paire 1</span>
                                <input class="carte6b" type="checkbox" name="id_paire2[]" value="{{ Objets[carte].Id }}"><span class="carte6b span2">Paire 2</span>
                                <img class="carte6" src="{{ asset('assets/img/' ~ Objets[carte].CarteImg) }}">
                            {% elseif counter == 7 %}
                                <input class="carte7" type="checkbox" name="id_paire1[]" value="{{ Objets[carte].Id }}"><span class="carte7 span1">Paire 1</span>
                                <input class="carte7b" type="checkbox" name="id_paire2[]" value="{{ Objets[carte].Id }}"><span class="carte7b span2">Paire 2</span>
                                <img class="carte7" src="{{ asset('assets/img/' ~ Objets[carte].CarteImg) }}">
                            {% endif %}
                        {% endfor %}
                    {% elseif app.user.id == partie.Joueur2.Id %}
                        {% for carte in partie.MainJ2 |sort %}
                            {% set counter = ( counter | default(0) ) + 1 %}
                            {% if counter == 1 %}
                                <input class="carte1" type="checkbox" name="id_paire1[]" value="{{ Objets[carte].Id }}"><span class="carte1 span1">Paire 1</span>
                                <input class="carte1b" type="checkbox" name="id_paire2[]" value="{{ Objets[carte].Id }}"><span class="carte1b span2">Paire 2</span>
                                <img class="carte1" src="{{ asset('assets/img/' ~ Objets[carte].CarteImg) }}">
                            {% elseif counter == 2 %}
                                <input class="carte2" type="checkbox" name="id_paire1[]" value="{{ Objets[carte].Id }}"><span class="carte2 span1">Paire 1</span>
                                <input class="carte2b" type="checkbox" name="id_paire2[]" value="{{ Objets[carte].Id }}"><span class="carte2b span2">Paire 2</span>
                                <img class="carte2" src="{{ asset('assets/img/' ~ Objets[carte].CarteImg) }}">
                            {% elseif counter == 3 %}
                                <input class="carte3" type="checkbox" name="id_paire1[]" value="{{ Objets[carte].Id }}"><span class="carte3 span1">Paire 1</span>
                                <input class="carte3b" type="checkbox" name="id_paire2[]" value="{{ Objets[carte].Id }}"><span class="carte3b span2">Paire 2</span>
                                <img class="carte3" src="{{ asset('assets/img/' ~ Objets[carte].CarteImg) }}">
                            {% elseif counter == 4 %}
                                <input class="carte4" type="checkbox" name="id_paire1[]" value="{{ Objets[carte].Id }}"><span class="carte4 span1">Paire 1</span>
                                <input class="carte4b" type="checkbox" name="id_paire2[]" value="{{ Objets[carte].Id }}"><span class="carte4b span2">Paire 2</span>
                                <img class="carte4" src="{{ asset('assets/img/' ~ Objets[carte].CarteImg) }}">
                            {% elseif counter == 5 %}
                                <input class="carte5" type="checkbox" name="id_paire1[]" value="{{ Objets[carte].Id }}"><span class="carte5 span1">Paire 1</span>
                                <input class="carte5b" type="checkbox" name="id_paire2[]" value="{{ Objets[carte].Id }}"><span class="carte5b span2">Paire 2</span>
                                <img class="carte5" src="{{ asset('assets/img/' ~ Objets[carte].CarteImg) }}">
                            {% elseif counter == 6 %}
                                <input class="carte6" type="checkbox" name="id_paire1[]" value="{{ Objets[carte].Id }}"><span class="carte6 span1">Paire 1</span>
                                <input class="carte6b" type="checkbox" name="id_paire2[]" value="{{ Objets[carte].Id }}"><span class="carte6b span2">Paire 2</span>
                                <img class="carte6" src="{{ asset('assets/img/' ~ Objets[carte].CarteImg) }}">
                            {% elseif counter == 7 %}
                                <input class="carte7" type="checkbox" name="id_paire1[]" value="{{ Objets[carte].Id }}"><span class="carte7 span1">Paire 1</span>
                                <input class="carte7b" type="checkbox" name="id_paire2[]" value="{{ Objets[carte].Id }}"><span class="carte7b span2">Paire 2</span>
                                <img class="carte7" src="{{ asset('assets/img/' ~ Objets[carte].CarteImg) }}">
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
            </form>

            {% endblock %}

            {% block javascripts %}
                <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
                        crossorigin="anonymous"></script>

                <script src="{{ asset('assets/js/action.js') }}"></script>
            {% endblock %}
