{% extends 'base.html.twig' %}

{% block title %}
    Partie en cours
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap-grid.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/screen.css') }}">
{% endblock %}

{% block menu %}{% endblock %}
{% block nav_admin %}{% endblock %}

{% block body %}
    {{ include('Partie/plateau_action.html.twig') }}


    <form method="post" action="{{ path('action4') }}" id="formulaire">
        <div class="b4">
            <div class="b4carte1">

            </div>
            <div class="b4carte2">

            </div>
            <div class="b4carte3">

            </div>
            <div class="b4carte4">

            </div>
            <h1>Attention, Selectionnez bien deux paires de cartes concurrence</h1>
            <button class="bouton" id="annuler" name="id" value="{{ partie.Id }}" formaction="{{ path('retour') }}">Annuler</button>

            <button class="bouton" id="valider" type="submit" name="id" value="{{ partie.Id }}">Valider</button>
            <input name="paires" type="hidden">

        </div>




        <div class="objets">
            {% if app.user.id == partie.Joueur1.Id %}
                {% for carte in partie.MainJ1 |sort %}
                    {% set counter = ( counter | default(0) ) + 1 %}
                    {% if counter == 1 %}
                        <div>
                            <input id="carte1" class="checkbox n0" type="checkbox" value="{{ Objets[carte].Id }}">
                            <label for="carte1"><img class="n0" src="{{ asset('assets/img/' ~ Objets[carte].CarteImg) }}"></label>
                        </div>
                    {% elseif counter == 2 %}
                        <div>
                            <input id="carte2" class="checkbox n1" type="checkbox" value="{{ Objets[carte].Id }}">
                            <label for="carte2"><img class="n1" src="{{ asset('assets/img/' ~ Objets[carte].CarteImg) }}"></label>
                        </div>
                    {% elseif counter == 3 %}
                        <div>
                            <input id="carte3" class="checkbox n2" type="checkbox" value="{{ Objets[carte].Id }}">
                            <label for="carte3"><img class="n2" src="{{ asset('assets/img/' ~ Objets[carte].CarteImg) }}"></label>
                        </div>
                    {% elseif counter == 4 %}
                        <div>
                            <input id="carte4" class="checkbox n3" type="checkbox" value="{{ Objets[carte].Id }}">
                            <label for="carte4"><img class="n3" src="{{ asset('assets/img/' ~ Objets[carte].CarteImg) }}"></label>
                        </div>
                    {% elseif counter == 5 %}
                        <div>
                            <input id="carte5" class="checkbox n4" type="checkbox" value="{{ Objets[carte].Id }}">
                            <label for="carte5"><img class="n4" src="{{ asset('assets/img/' ~ Objets[carte].CarteImg) }}"></label>
                        </div>
                    {% elseif counter == 6 %}
                        <div>
                            <input id="carte6" class="checkbox n5" type="checkbox" value="{{ Objets[carte].Id }}">
                            <label for="carte6"><img class="n5" src="{{ asset('assets/img/' ~ Objets[carte].CarteImg) }}"></label>
                        </div>
                    {% elseif counter == 7 %}
                        <div>
                            <input id="carte7" class="checkbox n6" type="checkbox" value="{{ Objets[carte].Id }}">
                            <label for="carte7"><img class="n6" src="{{ asset('assets/img/' ~ Objets[carte].CarteImg) }}"></label>
                        </div>
                    {% endif %}
                {% endfor %}
            {% elseif app.user.id == partie.Joueur2.Id %}
                {% for carte in partie.MainJ2 |sort %}
                    {% set counter = ( counter | default(0) ) + 1 %}
                    {% if counter == 1 %}
                        <div>
                            <input id="carte1" class="checkbox n0" type="checkbox" value="{{ Objets[carte].Id }}">
                            <label for="carte1"><img class="n0" src="{{ asset('assets/img/' ~ Objets[carte].CarteImg) }}"></label>
                        </div>
                    {% elseif counter == 2 %}
                        <div>
                            <input id="carte2" class="checkbox n1" type="checkbox" value="{{ Objets[carte].Id }}">
                            <label for="carte2"><img class="n1" src="{{ asset('assets/img/' ~ Objets[carte].CarteImg) }}"></label>
                        </div>
                    {% elseif counter == 3 %}
                        <div>
                            <input id="carte3" class="checkbox n2" type="checkbox" value="{{ Objets[carte].Id }}">
                            <label for="carte3"><img class="n2" src="{{ asset('assets/img/' ~ Objets[carte].CarteImg) }}"></label>
                        </div>
                    {% elseif counter == 4 %}
                        <div>
                            <input id="carte4" class="checkbox n3" type="checkbox" value="{{ Objets[carte].Id }}">
                            <label for="carte4"><img class="n3" src="{{ asset('assets/img/' ~ Objets[carte].CarteImg) }}"></label>
                        </div>
                    {% elseif counter == 5 %}
                        <div>
                            <input id="carte5" class="checkbox n4" type="checkbox" value="{{ Objets[carte].Id }}">
                            <label for="carte5"><img class="n4" src="{{ asset('assets/img/' ~ Objets[carte].CarteImg) }}"></label>
                        </div>
                    {% elseif counter == 6 %}
                        <div>
                            <input id="carte6" class="checkbox n5" type="checkbox" value="{{ Objets[carte].Id }}">
                            <label for="carte6"><img class="n5" src="{{ asset('assets/img/' ~ Objets[carte].CarteImg) }}"></label>
                        </div>
                    {% elseif counter == 7 %}
                        <div>
                            <input id="carte7" class="checkbox n6" type="checkbox" value="{{ Objets[carte].Id }}">
                            <label for="carte7"><img class="n6" src="{{ asset('assets/img/' ~ Objets[carte].CarteImg) }}"></label>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
    </form>

{% endblock %}

            {% block javascripts %}
                <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
                        crossorigin="anonymous"></script>

                <script src="{{ asset('assets/js/action.js') }}"></script>
                <script src="{{ asset('assets/js/menu.js') }}"></script>

                <script>
                    console.clear();
                    var checkbox = document.getElementsByClassName('checkbox'),
                        form = document.getElementById('formulaire'),
                        ordre=[];

                    for(var i=0, len=7; i<len; i++){
                        checkbox[i].onclick=function(){
                            if(this.checked)
                                ordre.push(this.value);
                            else if((key = ordre.indexOf(this.value)) >-1 )
                                ordre.splice(key,1);
                            form.paires.value = '['+ordre.join(',')+']';
                        };
                    }
                </script>


                <script src="{{ asset('assets/js/chat.js') }}"></script>
                <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
                <script>
                    var socket = io.connect('http://149.91.83.88:8080');

                    var loggedUser;

                    /**
                     * Log de connexion d'un utilisateur (avant login)
                     */
                    console.log('a user connected');

                    /**
                     * Déconnexion d'un utilisateur : broadcast d'un 'service-message'
                     */
                    socket.on('disconnect', function () {
                        if (loggedUser !== undefined) {
                            console.log('user disconnected : ' + loggedUser.username);
                            var serviceMessage = {
                                text: loggedUser.username + " s\'est déconnecté",
                                type: 'logout'
                            };
                            socket.broadcast.emit("clientversserveur", serviceMessage);
                        }
                    });

                    /**
                     * Connexion d'un utilisateur via le formulaire :
                     *  - sauvegarde du user
                     *  - broadcast d'un 'service-message'
                     */
                    socket.on('user-login', function (user) {
                        loggedUser = user;
                        if (loggedUser !== undefined) {
                            var serviceMessage = {
                                text: loggedUser.username + " s\'est connecté",
                                type: 'login'
                            };
                            socket.broadcast.emit("clientversserveur", serviceMessage);
                        }
                    });


                    socket.on('serveurversclient', function (texte) {
                        document.getElementById("messages").innerHTML=texte;
                        element = document.getElementById('chat');
                        element.scrollTop = element.scrollHeight;
                    });



                    if (event.keyCode == 10 || event.keyCode == 13) {
                        var lePseudo=document.getElementById("monPseudo").value;
                        var leMessage=document.getElementById("monMessage").value;
                        var messageenvoye = '<i>'+lePseudo+'</i> : '+leMessage;

                        socket.emit("clientversserveur", messageenvoye);
                        document.getElementById("monMessage").value="";
                    }

                    function envoyer() {
                        var lePseudo=document.getElementById("monPseudo").value;
                        var leMessage=document.getElementById("monMessage").value;
                        var messageenvoye = '<li><span class="username">'+lePseudo+'</span> : '+leMessage+'</li>';

                        socket.emit("clientversserveur", messageenvoye);
                        document.getElementById("monMessage").value="";
                    }
                </script>

            {% endblock %}
