{% extends 'base.html.twig' %}

{% block title %}
    Partie en cours
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/screen.css') }}">
{% endblock %}

{% block menu %}{% endblock %}

{% block body %}
    <div class="plateau" id="plateau">
        <div class="container-v backgroud_plateau">

            <div class="backgroud_plateau_fond">


                <div class="menu">
                    <img src="{{  asset('assets/img/plateau/menu.png') }}">

                    <ul class="deroule">
                        <li>
                            <a href="{{  path('user') }}" class="hover-underline-animation">Accueil</a>
                        </li>
                        <li>
                            <a href="{{  path('profil') }}" class="hover-underline-animation">Mon profil</a>
                        </li>
                        <li>
                            <a href="{{  path('classement') }}" class="hover-underline-animation">Classement</a>
                        </li>
                        <li>
                            <a href="{{  path('choix_partie') }}" class="hover-underline-animation">Jouer</a>
                        </li>
                    </ul>
                </div>

                {#INFORMATIONS ADVERSAIRE#}
                <div class="joueur2">
                    {% if app.user.Id == partie.Joueur1.Id%}
                        <p>{{ partie.Joueur2.Username }}</p>
                    {% else %}
                        <p>{{ partie.Joueur1.Username }}</p>
                    {% endif %}
                </div>


                {#MES INFORMATIONS#}
                <div class="joueur1">
                    {% if app.user.Id == partie.Joueur1.Id%}
                        <p>{{ partie.Joueur1.Username }}</p>
                    {% else %}
                        <p>{{ partie.Joueur2.Username }}</p>
                    {% endif %}
                </div>

                <div id="plateau_jeu">
                {{ include('Partie/plateau.html.twig') }}
                </div>


                {#Carte de pioche#}
                <img class="img24" src="{{ asset('assets/img/plateau/dos_carte.png')}}">


                {#CARTES OBJECTIFS#}
                {% for objectif in objectifs %}
                    {% set counter = ( counter | default(0) ) + 1 %}
                    {% if counter==1 %}
                        <img class="img10" src="{{ asset('assets/img/' ~ objectif.ObjectifImg) }}">
                    {% elseif counter==2%}
                        <img class="img11" src="{{ asset('assets/img/' ~ objectif.ObjectifImg) }}">
                    {% elseif counter==3%}
                        <img class="img12" src="{{ asset('assets/img/' ~ objectif.ObjectifImg) }}">
                    {% elseif counter==4%}
                        <img class="img13" src="{{ asset('assets/img/' ~ objectif.ObjectifImg) }}">
                    {% elseif counter==5%}
                        <img class="img14" src="{{ asset('assets/img/' ~ objectif.ObjectifImg) }}">
                    {% elseif counter==6%}
                        <img class="img15" src="{{ asset('assets/img/' ~ objectif.ObjectifImg) }}">
                    {% elseif counter==7%}
                        <img class="img16" src="{{ asset('assets/img/' ~ objectif.ObjectifImg) }}">
                    {% endif %}
                {% endfor %}



                <div class="action1">
                    <p>Secret</p>
                </div>
                <div class="action2">
                    <p>Dissimulation</p>
                </div>
                <div class="action3">
                    <p>Cadeau</p>
                </div>
                <div class="action4">
                    <p>Concurrence</p>
                </div>





            </div>

        </div>
    </div>



{% endblock %}

{% block javascripts %}

    <script src="{{ asset('assets/js/action.js') }}"></script>
    <script src="{{ asset('assets/js/menu.js') }}"></script>

    <script>
    console.log(" moi: " +{{app.user.Id  }} +" joueur 1: " + {{ partie.Joueur1.Id  }} + " tour: " + {{ partie.PartieTour }} + " joueur 2 :" + {{ partie.Joueur2.Id  }});
    </script>

    {% if app.user.Id == partie.Joueur1.Id %}
        {% if partie.PartieTour == 2 or partie.PartieTour == 4 or partie.PartieTour == 6 or partie.PartieTour == 8  %}
            <script>
                $(document).ready(function(){
                setInterval(rafraichir, 5000);
                function rafraichir() {
                    console.log('tick');
                   $("#plateau_jeu").load("{{ path('plateau', {partie: partie.Id}) }}")
                }
                });
            </script>
        {% endif %}

    {% elseif app.user.Id == partie.Joueur2.Id %}
        {% if partie.PartieTour == 1 or partie.PartieTour == 3 or partie.PartieTour == 5 or partie.PartieTour == 7 %}
            <script>
                setInterval(rafraichir, 5000);
                function rafraichir() {
                    console.log('tick');
                    $("#plateau_jeu").load("{{ path('plateau', {partie: partie.Id}) }}")
                }
            </script>
        {% endif %}
    {% endif %}

{% endblock %}

