{% extends 'base.html.twig' %}

{% block title %}
    Rejoindre une partie
{% endblock %}

{% block body %}

    <form method="post" action="{{ path('lancer_partie') }}">
        <div>
            Rejoindre une partie :
            <select name="id">
                {% for partie in parties |reverse %}
                    {% if partie.PartieTour > 1 %}
                        {% if partie.Joueur1.Id!= app.user.Id  %}
                            <option value="{{ partie.id }}">{{ partie.PartieNom }}, {{ partie.PartieDate |date("d/m/Y à H:i:s")}} avec {{ partie.Joueur1.Username }}, Tour N°{{ partie.PartieTour }} </option>
                        {% endif %}
                        {% if partie.Joueur2.Id!= app.user.Id  %}
                            <option value="{{ partie.id }}">{{ partie.PartieNom }}, {{ partie.PartieDate |date("d/m/Y à H:i:s")}} avec {{ partie.Joueur2.Username }}, Tour N°{{ partie.PartieTour }} </option>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <div>
            <input type="submit" value="Continuer la partie">
        </div>
    </form>
{% endblock %}