{% extends 'base.html.twig' %}

{% block nav_admin %}{% endblock %}

{% block body %}

    Classement selon le nombre de victoires

    <div>
        Mon score :
        {{ moi.PartiesVictoires}} victoires et {{ moi.PartiesDefaites}} défaites
    </div>

    <div>
        Classement :<br>
        {% for joueur in autres %}
            {% set counter = ( counter | default(0) ) + 1 %}
            {{ counter }}. {{ joueur.username }} : {{ joueur.PartiesVictoires }} victoires et {{ joueur.PartiesDefaites }} défaites <br>
        {% endfor %}
    </div>


{% endblock %}