{% extends 'base.html.twig' %}

{% block nav_admin %}{% endblock %}

{% block body %}

    <section class="accueil">
        <div class="formulaire-profil">
            <div class="container-fluid justify-content-center">
                <div class="col-8">
                    <div class="contenu-form" >
                        <div class="haut-profil">
                            <h1>Utilisateur : {{ app.user.username }}</h1>
                        </div>
                        <div class="bas-profil">
                            <form method="post" action="{{ path('update_username') }}">

                                <div class="element-form">
                                    <div class="col-3"> <label for="username">Changer de pseudo :</label></div>
                                    <div class="col-4"><input type="text" value="{{ app.user.username }}" name="username" placeholder="Nouveau Pseudo"></div>


                                    <div class=" col-3 envoyer">
                                        <input type="submit" value="Changer">                                    </div>
                                </div>




                            </form>
                            <form method="post" action="{{ path('update_email') }}">

                                <div class="element-form">
                                    <div class="col-3"> <label for="email">Changer d'email :</label></div>
                                    <div class="col-4"><input type="email" value="{{ app.user.email }}" name="email" placeholder="Nouvel email"></div>


                                    <div class="col-3 envoyer">
                                        <input type="submit" value="Changer">                                    </div>
                                </div>




                            </form>
                            <form method="post" action="{{ path('update_password') }}">

                                <div class="element-form">
                                    <div class="col-3"> <label for="username">Changer de mot de passe :</label></div>
                                    <div class="col-4"><input type="password" name="premier" placeholder="Entrer nouveau mot de passe"><input type="password" name="deuxieme" placeholder="Répéter mot de passe"></div>

                                    <div class=" col-3 envoyer">
                                        <input type="submit" value="Changer">                                    </div>
                                </div>




                            </form>

                        </div>

                    </div>
                </div>
            </div>
        </div>


    </section>


{% endblock %}